version: '3'

services:

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - db:/volumes/data/mongo
    networks:
      - mongo-compose-network

networks: 
    mongo-compose-network:
      driver: bridge
volumes:
  db:
    driver: local